<%- include('includes/header') %>
  <!-- header ends here -->
  
  <% success.forEach(function(message){ %>
    
    <div class="alert alert-success text-center"><%= message %></div>

    <% }) %>
 
 
    <%- include('parents/profilePicture') %>

    <%- include('parents/basicInformation') %>
  
    <%- include('parents/tuitionInformation')  %>
    <br>
    
    <div style="clear: both; position: relative; top: 40px;">
      <br>
      <br>
    </div>
 

  


    

  
  <!-- footer begins -->
  <%- include('includes/footer') %>
