<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OPTF || Result</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">

<style>


.center{
  text-align: center;

}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

</style>
</head>
<body>
  <header class="header-bar mb-3";>
    <div class="container d-flex flex-column flex-md-row align-items-center p-3">
      <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-white"><img src="../../images/logo/logo.jpg" width="80px" alt="LOGO"></a></h4>
      <div class="flex-row my-3 my-md-0">
        <a href="/search" class="text-white mr-2 header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-search"></i></a>
      
        <% if(type == "teacher"){ %>

        <a href="#" class="text-white mr-2 header-search-icon" title="Parents" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-user-friends"></i></a>
 
       <% } else{ %>

        <a href="/teachers" class="text-white mr-2 header-search-icon" title="Teachers" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-user-graduate"></i></a>

        
      <% }  %>
      <a href="/friends" class="text-white mr-2 header-search-icon" title="Friends" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-users"></i></a>   
      <a href="/about" class="text-white mr-2 header-search-icon" title="About Us" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-handshake"></i></a>
   
      <a href="/logout" class="text-white mr-2 header-search-icon" title="Sign Out" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-sign-out-alt"></i></a>
     
      </div>     
    </div>
  </header>
    <!--Make sure the form has the autocomplete function switched off:-->
    <div class="center">
      <form autocomplete="off" action="/search" method="POST">
        <div class="autocomplete" style="width:500px;">
          
          <input required id="myInput" type="text" name="search" placeholder="Class Name or Subject Name or Address Name">

        </div>
        <input type="submit" value="Search">
      </form>
    </div>

    <script>
    function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
    var a, b, i, val = this.value;
    /*close any already open lists of autocompleted values*/
    closeAllLists();
    if (!val) { return false;}
    currentFocus = -1;
    /*create a DIV element that will contain the items (values):*/
    a = document.createElement("DIV");
    a.setAttribute("id", this.id + "autocomplete-list");
    a.setAttribute("class", "autocomplete-items");
    /*append the DIV element as a child of the autocomplete container:*/
    this.parentNode.appendChild(a);
    /*for each item in the array...*/
    for (i = 0; i < arr.length; i++) {
      /*check if the item starts with the same letters as the text field value:*/
      if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
        /*create a DIV element for each matching element:*/
        b = document.createElement("DIV");
        /*make the matching letters bold:*/
        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
        b.innerHTML += arr[i].substr(val.length);
        /*insert a input field that will hold the current array item's value:*/
        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
        /*execute a function when someone clicks on the item value (DIV element):*/
        b.addEventListener("click", function(e) {
            /*insert the value for the autocomplete text field:*/
            inp.value = this.getElementsByTagName("input")[0].value;
            /*close the list of autocompleted values,
            (or any other open lists of autocompleted values:*/
            closeAllLists();
        });
        a.appendChild(b);
      }
    }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
    var x = document.getElementById(this.id + "autocomplete-list");
    if (x) x = x.getElementsByTagName("div");
    if (e.keyCode == 40) {
      /*If the arrow DOWN key is pressed,
      increase the currentFocus variable:*/
      currentFocus++;
      /*and and make the current item more visible:*/
      addActive(x);
    } else if (e.keyCode == 38) { //up
      /*If the arrow UP key is pressed,
      decrease the currentFocus variable:*/
      currentFocus--;
      /*and and make the current item more visible:*/
      addActive(x);
    } else if (e.keyCode == 13) {
      /*If the ENTER key is pressed, prevent the form from being submitted,*/
      e.preventDefault();
      if (currentFocus > -1) {
        /*and simulate a click on the "active" item:*/
        if (x) x[currentFocus].click();
      }
    }
    });
    function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
    x[i].classList.remove("autocomplete-active");
    }
    }
    function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
    if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
    }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
    closeAllLists(e.target);
    });
    }

    /*An array containing all the country names in the world:*/
    var countries = ["1", "2", "3", "4", "PSC", "6", "7", "JSC", "SSC", "HSC", 
                  "Bangla", "English", "Math", "Physics",
                  "Chemistry", "Biology", "Higher Math", 
                  "Agriculture" ,"Home Economics", "Accounting", 
                  "Management", "Finance", "Sociology", "Economics",
                  "Social Work" , "History","Chashara", "Amlapara", "Nitaigonj", "Jalkuri", "Bhuigor"];

    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"), countries);
    </script>
<br>
      <% errors.forEach(function(message) { %>
        <div class="alert alert-danger text-center"><%= message %></div>
      <% }) %>

      <% success.forEach(function(message) { %>
        <div class="alert alert-success text-center"><%= message %></div>
      <% }) %>



    <% if(teachers.length){ %>

       <% teachers.forEach(function(teacher){ %>

       

  <div class="container py-md-5">

    <div class="example2">

     <a href="/profile/<%=teacher.username%>">

    <div class="left" >
      <br>
     <img src="/images/teacher/<%= teacher.file %>" class="roundpp img-fluid" width="180px" alt="Profile Picture">  
    </div>
    
       <div class="left1" >
         <br>
          <p> 
            Name: <%= teacher.firstname %> <%= teacher.lastname %> <br>
            Gender: <%= teacher.gender %> <br>
            Location: <%= teacher.address %>, <%=teacher.city%> <br>
            Overview: <%= teacher.overview %> <br>
          </p>
        </div>
        <br>

      <div class="body-content normal">
        <br>
       <h2>Tuition Information</h2>
       <hr>
       <div class="dot">
        <p> 
          <b>Class(s):</b> <span style="text-transform: uppercase;" > <%= teacher.classes %></span> <br>
          <b> Subject(s):</b> <span style="text-transform: uppercase;"> <%= teacher.subjects %> </span> <br>
           <b>Medium:</b> <%= teacher.medium %> <br>
           <b>Salary (in Taka):</b> <%= teacher.salary %> <br>
           <b>Experience: </b><%= teacher.experience %> <br>
        </p>
       </div>
       <br>
       <h2>Educational Information</h2>
       <hr>
       <div class="dot">
         <p> 

          
          <b> Level of Education (completed) :</b> <%= teacher.educationLevel %> <br>

          <b>Educational Background : </b><%= teacher.educationalBackground %> <br>

          <b>Institute Name: </b><%= teacher.instituteName %> <br>

          <b>CGPA/GPA : </b><%= teacher.result %> <br>

          <b>Passed Year :</b> <%= teacher.passed %> <br>

         </p>
        </div>

      </div>

      <br>
    </div>
    </a> 
    </div>
    </div>

  
  <!-- footer begins -->
    <%- include('includes/footer') %>

       <% }) %>

  
    <% } else { %>



      <div class="container py-md-5 container--narrow">
        <div style="position: relative; top: 70px;" class="text-center">
          <h2>No Match Found.</h2>
          <p class="lead text-muted">Click here <a href="/search">Search</a> to get a fresh start.</p>
        </div> 
      </div>
       <!-- footer begins -->
     <footer class="fixed-bottom border-top text-center small text-muted py-3">

      <p class="m-0">Copyright &copy; 2020 <a href="/" class="text-muted">OPTF</a>. All rights reserved.</p>
      </footer>
      
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script>$('[data-toggle="tooltip"]').tooltip()</script>
    </body>
    </html>
  
  
    <% } %>


